<%- include('../partials/header') %>

<h1>Update Skill</h1>
<form action="/skills" method="PUT" autocomplete="off">
  <input name="skill">
  <button type="submit" class="btn btn-primary">Update Skill</button>
</form>

<%- include('../partials/footer') %>