<%- include('../partials/header') %>

<h1>Update Skill</h1>
<form action="/skills/<%=skill.id%>?_method=PUT" method="POST" autocomplete="off">
  <input name="skill" value="<%=skill.skill%>">
  <button type="submit" class="btn btn-primary">Update</button>
</form>

<%- include('../partials/footer') %>