body {
  background: darkgray;
  color: red;
  font-family: "Times New Roman", Times, serif;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vh;
}
a {
  color: blue;
}